server/node_modules
server/*.log
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/yarn.lock
server/package-lock.json

web/node_modules
web/*.log
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/yarn.lock
web/package-lock.json

mobile/node_modules
mobile/*.log
mobile/.DS_Store
mobile/.env.local
mobile/.env.development.local
mobile/.env.test.local
mobile/.env.production.local
mobile/npm-debug.log*
mobile/yarn-debug.log*
mobile/yarn-error.log*
mobile/yarn.lock
mobile/package-lock.json